@font-face {
    font-family: "ManropeThin";
    src: url("/fonts/ManropeThin/ManropeThin.ttf");
}

.icon-plus {
    background-position: -408px -96px;
    color: #ffffff;
    text-align: center !important;
    padding-top: 10px;

}
.icon-minus{
    background-position:-433px -96px;
    color: #ffffff;
    font-size: 40px;
    text-align: center !important;
    padding-top: 10px;
    font-size: 40px;
}

.blue{
    border-radius: 7px 0 0 7px;
    background-color: #1A3CA3;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 40px;
    font-style: normal;
    display: inline-block;
    width: 25px;
    height: 40px;
    margin-top: 10px;
    line-height: 14px;
    vertical-align: text-bottom;
    /* background-image: url(../images/glyphicons-halflings1.png); */
    background-repeat: no-repeat;
}

.btn {
    display: inline-block;
    padding: 4px 8px ;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 20px;
    color: #333;
    text-align: center;
    /* text-shadow: 0 1px 1px rgb(255 255 255 / 75%); */
    vertical-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #1A3CA3;
}

.customControl {
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
    flex-basis: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3px;
    height: 15px;
    cursor: pointer;
    background: url("/resources/css/cross.svg") 50% no-repeat;
    opacity: 0.3;
}

.content {
    padding: 5px;
    max-height: 250px;
    overflow: auto;
}

a, a:visited {
    color: #04b;
    text-decoration: none !important;
}

.my-button {
    display: inline-block;
    padding: 3px 5px;
    background: #1A3CA3;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.my-button__text {
    font-family: ManropeThin;
    font-size: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.my-button-selected {
    color: #333333;
    background-color: #e6e6e6;
    border: 2px dashed #333;
}


.smallMap {
    width: 70% !important;
    height: 825px !important;

}
.bigmap{
    width: 70% !important;
    height: 825px !important;

}

#map {
    float:right;
    width: 100%;
    transition: 0.3s;
    height: 825px;
    margin: 0;
    padding: 0;
    background-color:#ccc;
    overflow:hidden;
    z-index: 200;
}

.ymaps-2-1-79-searchbox-button {
    background-color: #1A3CA3 !important;
    color: white !important;
    font-family: ManropeThin !important;
    font-size: 20px !important;
}

.baloonFooter{
    width: 210px;
    height: 100px;
}


.footer2Foto{
    width: 100px;
    height: 100px;
    background-color: red;
}