@font-face {
    font-family: "ManropeThin";
    src: url("../fonts/ManropeThin/ManropeThin.ttf");
}

.content {
    max-width: 550px;
    border: 22px solid rgb(26, 61, 163);
    padding: 40px 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 65px;
}

.title {
    font-family: ManropeThin, sans-serif;
    color: rgb(26, 61, 163);
    font-size: 72px;
}

.rounded-element {
    text-align: center;
    font-family: ManropeThin, sans-serif;
    font-size: 28px;
    outline: none;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 0.5rem;
}

.tbx {
    background-color: rgb(196, 196, 196);
    color: white;
}

.btn {
    background-color: rgb(26, 61, 163);
    color: white;
    width: 330px;
    font-weight: bold;
}


.sec {
    display: block;
    color: white;
    text-align: center;
    font-family: ManropeThin, sans-serif;
    font-size: 28px;
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: rgb(196, 196, 196);
    text-decoration: none;
}


.third {
    background-color: rgb(26, 61, 163);
}



a {
    margin-bottom: 30px;
}

.btn:hover {
    background-color: cornflowerblue;
}

.btn:active {
    background-color: darkblue;
}


.error {
    font-family: ManropeThin, sans-serif;
    color: tomato;
    font-weight: bold;
    font-size: 20px;
}