.ramka {
    width: auto;
    height: 825px;
    background: #FFFFFF;
}

.Main {
    width: 1920;
    height: 890px;
    margin: 10px;
    border: 22px solid #1A3CA3;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0px;
    font-family: Arial;
    font-size: 14px;
}

.labelPhoto{
    width: 188px !important;

}

@font-face {
    font-family: "ManropeThin";
    src: url("../fonts/ManropeThin/ManropeThin.ttf");
}
ul {
    padding-inline-start: 0;
    list-style: none;
    list-style-position:inside;
}

li {
    font-weight:700;
    margin: 0 auto;
    border-radius: 7px;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    width: 480px;
    background-color: white;
    color: black;
    font-family: ManropeThin;
    font-size: 36px;
}

.bigblock{
    margin-top: 220px;
    margin-left: 85px;
    width: 1665px;
}


.block {
    float: left;
    width: 580px;
    height: 670px;
}

.littliblock{
    margin: 0 100px;
    margin-top: 100px;
    float: left;
    width: 300px;
    height: 310px;
}


.scroll {
    overflow-y: scroll;
    width: auto;
    margin-top: 25px;
    height: 400px;
    background-color: #C4C4C4;
    border-radius: 7px;
    border: 2px solid gainsboro;
}
.checkboxes {
    list-style: none;
}
.lichii {
    top: 20px;
    position: absolute;
    font-size: 23px;
    color: white;
    background-color: #1A3CA3;
    font-family: ManropeThin;
    left: 1825px;
    padding: 15px;
    border-radius: 7px;
    text-decoration: none;
}


.fav {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    color: white;
    background-color: #1A3CA3;
    border-radius: 7px;
    font-family: ManropeThin;
}

.batton{
    text-align: center;
    font-size: 35px;
    font-family: ManropeThin;
    font-weight: bold;
    color: white;
    background: #1A3CA3;
    border-radius: 7px;
}
.batton2{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    font-family: ManropeThin;
    color: white;
    background: #C4C4C4;
    border-radius: 7px;
}

.batton2 a {
    color: white;
    text-decoration: none;
}

.Lk {
    position: absolute;
    margin-top: 65px;
    margin-left: 660px;
    font-family: ManropeThin;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #1A3CA3;
}


.insidebar {
    margin: 30px 40px;
    width: auto;
}

form{
    width: 580px;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}


#upload-container div {
    width: 188px;
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}


.insideinput{
    background-image: url(../images/photo.png);
    background-position: center;
    background-size:100px;
    background-repeat: no-repeat;
    width: 188px !important;
    height: 188px;
    background-color: #C4C4C4;
    border-radius: 7px;
}
table {
    width: 500px;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: ManropeThin;
    border-spacing: 0px 20px ;
}

td {
    height: 40px;
    border-radius: 0 7px 7px 0;
    background-color: #C4C4C4;
    font-size: 24px;
    text-align: left;
}

input {
    border-radius: 7px;
    margin-top: 0;
    border: unset;
}

.NA {
    display: block;
    width: 300px !important;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
}

p {
    margin: 0;
    display: block;
}
.kek {
    border-radius: 7px 0 0 7px;
    padding-left: 15px ;
}
.rate {
    margin-right: 5px;
    float: left;
    height: 30px;
    width: 90px;
    display: block;
    margin-top: 5px;
    margin-left: 60px;
}

.time {
    margin-top: 5px;
    height: 30px;
    float: left;
    display: block;
    box-sizing: border-box;
}

.left{
    margin-left: 60px;
}

.rate2 {
    margin: 0 20px;
    float: left;
}

.tr {
    height: 50px;
}


.discription{
    border-radius: 7px;
    margin: 5px;
    display: block;
    resize: none;
}

.send {
    margin: 20px auto;
    width: 160px;
    height: 50px;
    text-align: center;
    display: block;
    background-color: #1A3CA3;
    color: white;
    font-size: 24px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto
}

.show {
    visibility: visible;
    position: absolute;
    left: 0;
    transition: 300ms;
    /* opacity: 1;

    transition: .3s opacity, .3s visibility; */
}
#sidebar{
    z-index: 1;
    width: 29%;
    background-color: white;
    border: 2px solid #1A3CA3;
    height: 823px;
    padding-right: 11px;
}

.hide {
    position: absolute;
    left: -30%;
    transition: 300ms;
    opacity: 1;
    visibility: hidden;
}

.NAgreen{
    border: 3px solid #258806 !important;
    background-color: rgba(73, 214, 85, 0.315) !important;
}

.NAred{
    border: 3px solid #880606;
    background-color: rgba(214, 89, 73, 0.219);
}