<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Whitesquare</title>
	<link rel="stylesheet" href="/resources/css/styles1.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>
<body>
	<div class="ramka">
		<div class="Main">
			<p class="Lk">Личный кабинет.</p>
			<div class="bigblock">
				<div class="block">
					<div class="fav">Избранное</div>
					<div class="scroll"  th:unless="${#lists.isEmpty(toilets)}">
					<ul th:each="toilet : ${toilets}">
					<li><div class="toilets" th:text="${toilet.name}">Большая порашная</div></li>
					</ul>
					</div>
				</div>
				<div class="littliblock">
					<div class="batton" th:text="${login}">Nickname</div>
					<div class="batton2"><a href="map">Карта</a></div>
					<div class="batton2"><a>Сменить пароль</a></div>
				</div>
				<div class="block">
					<div class="fav">Добавленное</div>
					<div class="scroll" th:unless="${#lists.isEmpty(toiletsadded)}">
						<ul th:each="toil : ${toiletsadded}">
						<li><div class="toilets" th:text="${toil.name}">Большая порашная</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>