<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Registration</title>
    <link rel="stylesheet" href="resources/css/regstyle.css" type="text/css">
</head>
<body>
    <div class="content">
        <h1 class="title">Регистрация</h1>
        <form th:method="POST" th:action="@{/reg}">
            <br>
            <div class="error" th:if="${message2} != null" th:text="${message2}">Такой пользователь уже существует !</div>
            <input id="tbx_login" type="text" placeholder="Логин" class="rounded-element tbx" name="login"/>
            <br> <br> <br> <br>
            <div class="error" th:if="${message1} != null" th:text="${message1}">Пароли не совпадают!</div>
            <input id="tbx_mail" type="password" placeholder="Пароль" class="rounded-element tbx" name="password"/>
            <br> <br> <br> <br>
            <input id="tbx_pass" type="password" placeholder="Пароль" class="rounded-element tbx" name="repeat"/>
            <br> <br> <br> <br>
            <input id="btn_send" type="submit" value="Зарегистрироваться" class="rounded-element btn">
            <br> <br> <br> <br>
        </form>
    </div>
</body>
</html>